.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(352, 71%, 56%) 15%,
      hsl(350, 82%, 56%) 35%,
      hwb(347 23% 5%) 75%,
      hsl(0, 92%, 53%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(0, 95%, 60%) 15%,
      hsl(0, 58%, 41%) 35%,
      hsl(0, 90%, 55%) 75%,
      hsl(357, 93%, 61%) 80%,
      transparent 100%);
}

#radius-shape-1,
#radius-shape-2 {
  background: radial-gradient(#d47a86, #e9b1b1);
  position: absolute;
  overflow: hidden;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(200%) blur(25px);
  border-radius: 15px;
  color: white;
}

.form-label {
  color: #ddd;
}

.btn-primary {
  background-color: #f18291;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #d17272;
}

input.form-control {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: none;
}

.btn-link i {
  color: white;
  transition: 0.3s;
}

.btn-link i:hover {
  color: #ff1f32;
  transform: scale(1.2);
}
